@use "theme:variables" as variables;
@use "theme:mixins" as mixins;

.quiz {
  width: 100%;
  padding: variables.$spacing-m variables.$horizontal-spacer-xs;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background-image: url("../../assets/img/chef.jpeg");
    background-size: cover;

    @include mixins.for-desktop {
      background-image: none;
    }
  }

  @include mixins.for-desktop {
    padding: variables.$spacing-m variables.$horizontal-spacer-m;
  }

  &__stepper {
  }

  &__content {
    padding: variables.$spacing-l 0;
  }

  &__actions {
    margin-top: variables.$spacing-5xl;
  }
}
