@use "theme:mixins" as mixins;
@use "theme:variables" as variables;

.schnitzel-ingredients {
  &__content {
    &__pan {
      display: block;
      margin: auto;
      width: 100%;
      padding: 0 variables.$horizontal-spacer-s;

      @include mixins.for-desktop {
        max-width: 70%;
      }
    }
  }
}
