@use "theme:mixins" as mixins;
@use "theme:variables" as variables;

.schnitzel-ingredients {
  &__content {
    &__instruction {
    }

    &__start {
      border: 1px solid black;
      margin-bottom: variables.$spacing-xxl;
      padding: variables.$spacing-xs;
    }

    &__actions {
      display: flex;
      justify-content: space-between;

      &__ingredient-counter {
        margin: auto 0 auto variables.$spacing-l;
        font-weight: 600;
      }

      @include mixins.for-desktop {
        justify-content: flex-start;
      }
    }

    &__pan {
      margin: auto;
      width: 100%;
      background-image: url("../../../../../assets/img/pan.png");
      background-size: contain;
      background-repeat: no-repeat;
      max-height: variables.$vertical-spacer-xl;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      aspect-ratio: 2/1;
      padding-bottom: variables.$spacing-xl;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0 variables.$horizontal-spacer-s;

      @include mixins.for-desktop {
        padding: 0;
        max-width: 50%;
      }
    }
  }
}
