@use "theme:variables" as variables;

button {
  outline: 0;
  border: 0;
  background-color: variables.$green-100;
  padding: variables.$spacing-s variables.$spacing-m;
  color: variables.$white;
  margin: variables.$spacing-s;
  cursor: pointer;

  &:disabled {
    background-color: variables.$green-25;
  }
}
