@use "theme:variables" as variables;
@use "theme:mixins" as mixins;

button {
  outline: 0;
  border: 0;
  background-color: variables.$green-100;
  padding: variables.$spacing-s variables.$spacing-m;
  color: variables.$white;
  margin: variables.$spacing-s;
  cursor: pointer;
  font-family: variables.$franklin;
  font-size: large;
  margin-left: variables.$spacing-xs;

  &:disabled {
    background-color: variables.$green-25;
  }
}
