@use "theme:variables" as variables;

body {
  padding: 0;
  margin: 0;
  hyphens: auto;
  overflow-x: hidden;
  font-family: variables.$franklin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}
