@use "theme:variables" as variables;
@use "theme:mixins" as mixins;

.breadTypes {
  &__content {
    display: grid;
    margin-bottom: variables.$spacing-l;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Start Start Start"
      ". . .";

    &__draggable {
      padding: 0;
      border: 0;
      background-color: transparent;
      margin: 0;

      img {
        width: variables.$spacing-3xl;
        height: auto;

        @include mixins.for-desktop {
          height: variables.$spacing-4xl;
          width: auto;
        }

        &.baguette {
          width: variables.$spacing-5xl * 1.5;

          @include mixins.for-desktop {
            width: auto;
          }
        }

        &.roggenbrot {
          width: variables.$spacing-l;

          @include mixins.for-desktop {
            width: auto;
          }
        }

        &.vollkornbrot,
        &.roggenbrot,
        &.toastbrot,
        &.semmel {
          @include mixins.for-desktop {
            height: variables.$spacing-5xl * 1.5;
          }
        }
      }
    }

    &__droppable {
      box-sizing: border-box;
      display: flex;

      &__start {
        padding: variables.$spacing-xs;
        border: 1px solid black;
        max-height: unset;
        width: 100%;
        height: fit-content;
        grid-area: Start;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-height: variables.$spacing-5xl * 1.5;
        margin-bottom: variables.$spacing-5xl;

        @include mixins.for-desktop {
          min-height: variables.$spacing-5xl * 2;
        }
      }

      &__basket {
        background-image: url("../../../../../assets/img/basket.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        height: variables.$spacing-5xl * 3;
        width: 120%;
        max-width: variables.$horizontal-spacer-xl;
        // padding-top: variables.$spacing-3xl;

        @include mixins.for-desktop {
          // padding-top: variables.$vertical-spacer-xs;
          width: 22vw;
          height: variables.$vertical-spacer-xl;
        }

        &__title {
          position: relative;
          transform: translateY(-50%);
          margin-bottom: variables.$spacing-m;

          @include mixins.for-desktop {
            margin-bottom: variables.$spacing-l;
          }
        }
      }

      &.isOver {
        opacity: variables.$opacity-50;
      }
    }
  }
}
