@use "theme:mixins" as mixins;
@use "theme:variables" as variables;

.label {
  font-size: large;
  border: 2px solid variables.$black;
  background-color: variables.$white;
  color: variables.$black;
  margin: variables.$spacing-xs;
  padding: variables.$spacing-xs variables.$spacing-m;

  @include mixins.for-desktop {
    padding: variables.$spacing-s variables.$spacing-l;
  }
}
