@use "theme:variables" as variables;
@use "theme:mixins";

.introduction {
  &__images {
    margin: auto;
    padding: auto;

    &__claim {
      padding-left: variables.$spacing-xl;
      width: 100%;
      background-color: variables.$schiefer-100;
      fill: variables.$green-100;
    }

    &__apprentice {
      width: 100%;

      @include mixins.for-desktop {
        object-position: center top;
        object-fit: cover;
        height: 55vh;
      }
    }

    @include mixins.for-desktop {
      margin: auto;
    }
  }

  &__instruction {
  }

  &__action-wrapper {
    display: flex;
  }
}
