@use "theme:variables" as variables;
@use "theme:mixins" as mixins;

.vegetableTypes {
  &__heading {
  }

  &__content {
    display: grid;
    margin-bottom: variables.$spacing-l;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Start Start Start"
      ". . .";

    &__droppable {
      box-sizing: border-box;
      display: flex;

      &__start {
        padding: variables.$spacing-xs;
        border: 1px solid black;
        min-height: 40px;
        width: 100%;
        height: fit-content;
        grid-area: Start;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        min-height: variables.$spacing-5xl * 1.2;

        @include mixins.for-desktop {
          align-items: center;
          margin-bottom: variables.$spacing-3xl;
        }
      }

      &__vegetable {
        height: fit-content;
        min-height: 145px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        padding-top: variables.$spacing-l;

        &__img {
          height: variables.$spacing-5xl * 1.5;

          @include mixins.for-desktop {
            height: variables.$spacing-5xl * 2;
          }
        }

        @include mixins.for-desktop {
          width: 200px;
        }
      }

      &.isOver {
        opacity: variables.$opacity-50;
      }
    }
  }
}
