@use "theme:variables" as variables;

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: variables.$spacing-m;

  &__logo {
    width: variables.$spacing-xxl;
    margin-right: variables.$spacing-m;
  }

  &__title {
    text-transform: uppercase;
  }

  &__score {
    margin-left: auto;
  }
}
