@use "theme:variables" as variables;

.menu-courses {
  &__items {
    &__item {
      padding: variables.$spacing-s variables.$spacing-m;
      background-color: variables.$schiefer-100;
      color: variables.$white;
      margin-bottom: variables.$spacing-s;

      &__connector {
        display: block !important;
        margin: variables.$spacing-s auto;
      }
    }
  }
}
