@use "theme:variables" as variables;
@use "theme:mixins" as mixins;

.company-estimate {
  &__content {
    .inaktiv {
      display: none;
    }

    .false {
      border: 2px solid variables.$red;
    }

    .true {
      border: 2px solid variables.$green-75;
    }

    &__answer-section button:disabled {
      color: black;
    }

    &__answer-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      @include mixins.for-desktop {
        flex-direction: row;
      }
    }
  }
}
